
.mainContent{
  border : 3px solid green;
  direction: ltr!important;
  padding: 2px;
  margin: 10px!important;
  font-size: 18px!important;
}
.mainContent li{
  border : 2px solid rgb(2, 139, 230);
  direction: ltr!important;
  padding: 5px;
  margin: 5px;
  font-size: 18px!important;
}

.productTitle{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.shoppingBasket{
  background-color: rgb(255, 255, 255);
  border : 3px solid yellow;
  margin: 10px!important;
  min-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.767), 0 6px 20px 0 rgba(0, 0, 0, 0.788);
  direction: ltr!important;
}

.shoppingBasket_li{
  padding: 5px;
  margin: 5px;
}

.shoppingBasket_li {
  padding: 12px;
  font-size: 14px;

}

.shoppingBasket_ul li { border-bottom: 1px solid black; }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiListItemText-root .MuiTypography-body2{
  font-size: 18px;
}